.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    font-family: 'Inconsolata';
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;    
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background-color: #fff;
    border-radius: 5px !important;
}

.navbar-default {
    background-color: #012B40;
}

.nb-wrapper {
    width:171px;
    height:50px;
    background:#fff;
    background: rgb(255,255,255);
    display:inline-block;
    border-radius:5px;
}

.navbar-brand {
    background: #fff;
    border-radius: 5px;
    margin-left: 9px !important;
}
