/*
** header
*/

.header {
    background: url('../img/banner.jpg') no-repeat center center scroll;
    padding: 200px 0 150px; //высота шапки
    text-align: center;
    background-size: cover;
    &_logo {
        background-color: rgba(255,255,255,.8);    
        padding: 10px;
        border-radius: 5px;
        width: 400px;
    }
    .navbar-brand {
        width: 151px;
        height: 50px;
        text-indent: -9999999px;
        display: inline-block;
       // background: url(../img/logo.png) no-repeat transparent;
        background-size: 151px;
        background-position: center;
    }
}