/*
** section-4
*/

.section-4 {    
    padding: 75px 0 0;
    min-height: 800px;
    &_item {
        background: #EAEAEA;
        padding: 10px 15px;
        margin-bottom: 40px;        
        &__text {
            font-size: 14px;
            line-height: 18px;            
        } 
    }
}