/*
** footer
*/

.footer {
     padding: 25px 0;
    &_copy {
        color: #000;
        font-size: 14px;
        line-height: 14px;
    }
    &_develop {
        margin-top: 5px;
        font-size: 10px;
        line-height: 12px;
        &__link {
            font-size: 8px;
            color: #000 !important;
            text-decoration: underline;
            &:hover, &:hover, &:hover {
                color: #000;
            }
        }
    }
}