/*
** map
*/

.section-6 {
  position: relative;
  width: 100%;
  text-align: center;
  height: 810px;
  & .title {
    position: absolute;
    display: inline-block;
    background: rgba(34,118,184,.8);
    padding: 10px;
    top: 70px;     
    left: 45%;
    height: 50px;
    line-height: 31px;
    font-family: 'Inconsolata';
    font-size: 28px;
    font-weight: 800;    
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 999;
    color: #fff;
  }
}

body .prettyMapList .mapHolder { height: 810px; }

.prettyMapList .mapHolder .infoWindow p { text-align: center; }

.prettyMapList .mapHolder img, #SingleMapLocation img { margin-left: 20px; }

.infoWindowContainer .infoWindow h3 {padding: 7px 25px 7px 10px !important;}